<h2>Welcome to Bankify!</h2>

<h4>Please check the supported APIs<h4>

<b>Endpoints</b>
<table border="1" cellpadding="2">
<tr>
  <td><b>URL</b></td>
  <td><b>HTTP Method</b></td>
  <td><b>Query Parameters</b></td>
</tr>
<tr>
 <td>https://bankify.herokuapp.com/api/v1/branches</td>
 <td>GET</td>
 <td>city,bank_name</td>
</tr>
<tr>
 <td>https://bankify.herokuapp.com/api/v1/bank</td>
 <td>GET</td>
 <td>ifsc</td>
</tr>
</table>

